<script id="dsq-count-scr" src="//https-safe-savannah-39370-herokuapp-com.disqus.com/count.js" async></script>
<div id="footer"><a href="https://safe-savannah-39370.herokuapp.com">Online Heroku</a>
  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>
