@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400');

body {
  font-family: helvetica;
  width: 90%;
  margin: 25px auto;
  line-height: 1.4em;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

a{
  text-decoration: none;
  color: darkslateblue;
}

h1{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 3.5em;
  padding: 5%;
  color: darkslateblue;
  border-top: 2px solid darkslateblue;
  border-bottom: 2px solid darkslateblue;
}

nav{
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

nav a{
  padding: 0 2%;
}

nav a:hover{
  border-bottom: 2px solid darkslateblue;
}

#terugNaarHome{
  font-size: 2em;
  color: darkcyan;
  background-color: white;
  text-align: left;
  padding-left: 0;
  margin-left: 0;
  border: none;
}

#terugNaarHome a{
  color: darkslateblue;
}

.titel{
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  color: darkslateblue;
  font-weight: 200;
}

#leesMeer, #categorie{
  font-weight: 800;
  color: darkslateblue;
  font-family: 'Oswald', sans-serif;
  margin-top: 2%;
}

img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

h3 {
  display: inline;
}

#overzicht{
  margin: 6% 0;
}

#overzicht::after{
  display: block;
  content: "";
  margin: 2em auto;
  width: 20em;
  border-bottom: solid 1px darkslateblue;
  opacity: .5;
}

.datum{
  font-size: 0.8em;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: darkslateblue;
  padding-bottom: 2%;
}

#welkeCategorie{
  padding: 5% 0;
  font-size: .8em;
}

#spanCategorie{
  font-family: 'Oswald', sans-serif;
  color: darkslateblue;
  font-size: 1em;
}

#footer{
  width: 100%;
  background-color: darkslateblue;
  text-align: center;
  padding: 1%;
  margin-top: 5%;
}

#footer a{
  color: white;
}

#disqus_thread{
  margin-top: 5%;
}

section{
  margin-top: 5%;
}

@media(min-width: 900px){
  body{
    margin: 0 auto;
    width: 50%;
  }

  h1{
    margin: 5%;
  }
}
